body{
	padding-top: 65px;
	background: white;
	font-family: 'Roboto', sans-serif;
}

section:nth-child(2){
	background: #80dfff;
}

button:focus {outline:none !important}

.aboutMe{
	text-align: center;
}

.button2{
	padding: 8px 32px;
	border-radius: 15px;
	background-color: transparent;
	text-align: center;
	border: 2px solid #faf02d;
	cursor: pointer;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
}

.button2:hover{
	background-color: #faf02d;
}

.doubleArrow{
	margin-left: 10px;
}

.doubleArrow i{
	-webkit-transition: transform 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out;
}

.button2:hover .doubleArrow i{
	transform: rotate(90deg);
}

/*.button1{
	padding: 8px 32px;
	border-radius: 15px;
	background-color: transparent;
	cursor: not-allowed;
	border: 2px solid #f73636;
	transition: background-color 0.5s ease;
}*/

a img{
	-webkit-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

a img:hover{
    transform: rotate(180deg);
}

.heading{
	font-family: 'Gudea', sans-serif;
	text-align: center;
	margin-bottom: 2%;
	color: #164df2;
}

.info{
	line-height: 2;
}

.middle{
	transition: opacity 1s ease;
	opacity: 0;
	position: absolute;
	bottom: 33%;
	left: 30%;
	text-align: center;
}

.pics{
	transition: opacity 1s ease;
	opacity: 1.0;
}

.imageHover:hover .pics{
	opacity: 0.3;
}

.imageHover:hover .middle{
	opacity: 1;
}

#mainNavbar{
	background: #99e6ff;
}

#skills{
	border: 2px solid black; 
	border-radius: 10px;
	text-align: center;
	box-shadow: 10px 10px 5px grey;
}

.list{
	text-align: left;
}

.list ul li{
	margin:0 0 10px 0;
}

#contact{
	background-color: #e1e3e1;
	text-align: center;
	padding: 25px 0;
	color: #696a6e;
}

.divider{
	border-right: 1px solid black;
}

.divider.noDivider{
	border-right: none;
}

.nav-link{
	-webkit-transition: background-color 1s ease;
	transition: background-color 1s ease;
	padding: 15px 0;
	color:#03e8fc;
}

.nav-link:hover{
	background-color: #ffffff;
}

.icon i{
	margin-left: 10px;
}

.col-lg-4:nth-child(1) .icon i{
	color: #00AFF0;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}

.col-lg-4:nth-child(1) .icon i:hover{
	text-shadow: 0px 0px 3px #00AFF0;
}

.col-lg-4:nth-child(2) .icon i{
	color:#0e76a8;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}

.col-lg-4:nth-child(2) .icon i:hover{
	text-shadow: 0px 0px 3px #0e76a8;
}

.col-lg-4:nth-child(3) .icon i{
	color: #f53d05;
	-webkit-transition: text-shadow 0.3s ease-in-out;
	transition: text-shadow 0.3s ease-in-out;
}

.col-lg-4:nth-child(3) .icon i:hover{
	text-shadow: -2px 0px 1px #f53d05;
}


